<footer>
    <div class="footer-content">
        <p>&copy; 2025 Ravi Kumar. All rights reserved.</p>
        <ul class="footer-links">
            <li>Name: Ravi Kumar</li>
            <li>Student ID: N01719809</li>
            <li>College: HUMBER College, Toronto, Ontario, Canada</li>
            <li>City: Lives in Brampton.</li>
        </ul>
    </div>
</footer>