

<header>
    <nav>
        <img src="/images/logo.png" alt="RK Logo" class="logo">
        <a href="/" <% if (currentRoute == "/") { %> class="active" <% } %>>Home</a> |
        <a href="/about" <% if (currentRoute == "/about") { %> class="active" <% } %>>About</a> |
        <a href="/viewData" <% if (currentRoute == "/viewData") { %> class="active" <% } %>>View Data</a>|
        <a href="/contact" <% if (currentRoute == "/contact") { %> class="active" <% } %>>Contact</a> |
        <a href="/profile" <% if (currentRoute == "/profile") { %> class="active" <% } %>>Profile</a> |
        <a href="/setting" <% if (currentRoute == "/setting") { %> class="active" <% } %>>Setting</a>
        <hr/>
    </nav>
</header>